#visualization1 {
	width: 1200px;
	height: 700px;
	background-color: transparent;
	margin: 0 auto;
	margin-top: 80px;
	margin-bottom: 500px;
}

div {
	text-align: center;
	box-sizing: border-box;
}


select, option {
	border: 0 none;
	outline: 1px none;
	}

#selection {
	display: inline-block;
	margin-top: 1%; 	
	margin-left: 1%; 
	margin-right: 1%; 
	margin-bottom: 40px; 
	width: 98%;
	height: 60%;
	background-color:#fffffff0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;

}

#buttons {
	text-align: left;
	display: inline-block;
	width: 100%;
	height:10%;
	background-color: transparent;
}

#error_message {
	display: inline-block;
	color: red;
	padding-left: 20px;
}

#data_selection {
	float:left;
	display: inline-block;
	background-color: transparent;
	height: 90%;
	width: 25%;
}

#chart_selection {
	display: inline-block;
	float: right;
	width: 75%;
	height: 90%;
	background-color: transparent;
	items: center;
}
	
#display {
	float:left;
	height: 100%;
	width: 100%;
	background-color:transparent;
}

#small_multiple{
	margin-left: 1%;	
	width: 98%;
	height: 35%;
	background-color: transparent;
}

#grid {
	display: inline-block;
	width: 87%;
	height: 100%;
	border-top: 1px dashed black;
	border-bottom: 1px dashed black;
}

.elements_SM {
	display: inline-block;
	float: left;
	width: 20%;
	height: 100%;
	background-color: gr;
	border-right: 1px dashed black;
	border-top: 0px dashed black;
	border-bottom: 0px dashed black;
	background-color: #fffffff0;
}

#elem_0_div {
	border-left: 1px dashed black;
}

#filter {
	background-color: transparent;
	float:right;
	width: 13%;
	height: 100%;
}	


#remove_all, #sort_selector, #asc_selector {
	margin-top: 0px;
}

#remove_all, #asc_selector {
	margin-top: 10px;
}

#sport_selector, #event_selector, #select_btn, #add_btn {
	margin-top: 10px;
	margin-left: 10px;
}

#sport_selector {
	margin-left: 14px;
}

#remove_all, #sort_selector, #asc_selector, 
#sport_selector, #event_selector, #select_btn, #add_btn{
	width: 120px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align:center;
	display: table-cell;
	vertical-align: middle;
	color: #494949 !important;
	text-decoration: none;
	background: #ffffff;
	border: 1px solid #494949 !important;
	display: inline-block;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}


#event_selector {
	width: 180px;
}

#remove_all:hover, #select_btn:hover, #add_btn:hover{
	color: #ffffff !important;
	background: #636363;
	border-color: #636363 !important;
	transition: all 0.4s ease 0s;
	}

#elem_0, #elem_1, #elem_2, #elem_3, #elem_4 {
	float:left;
	height: 100%;
	width: 100%;
	background-color:transparent;
}

#chart1 , #chart2, #chart3{
    height: 25%;
}

#chart1 {
	margin-top: 3% ;
}

#chartx {
	margin-top: 0%;
	height: 10%;
}

.label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.chart_label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

#error_message {
	margin-top: 10px;
	margin-bottom: 0px;
}



