


/* ************************************** Default styling ************************************** */

* { box-sizing: 
	border-box;
}

p {
	margin: 0px;
}

/* Select styling */

select {

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;

	background-image:
	  linear-gradient(45deg, transparent 50%, gray 50%),
	  linear-gradient(135deg, gray 50%, transparent 50%),
	  linear-gradient(to right, #ccc, #ccc);
	background-position:
	  calc(100% - 20px) calc(1em + 2px),
	  calc(100% - 15px) calc(1em + 2px),
	  calc(100% - 2.5em) 0.5em;
	background-size:
	  5px 5px,
	  5px 5px,
	  1px 1.5em;
	background-repeat: no-repeat;
  }

button:focus,
a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
	outline: none !important;
}
select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000;
}

/* Button styling */


button {
	width: 120px;
	background-color: white;
	vertical-align: top;
}

#remove_all:hover {
	color: #ffffff !important;
	background: #686868;
	border-color: #b6b6b6 !important;
	transition: all 0.4s ease 0s;
}

/* ************************************** Header, footer *************************** */


#header {
    width: 100%;
    background-color: white;
    height: 200px;
    text-align: center;
    opacity : 0.96;

}

#logo_title {
	display: inline-block;
	margin-left: 40px;
}


#logo     {
	height: 100px;
	width: auto;
    float: left;
    margin-top: 40px;
}


h1 {
    width: 1200px;
	margin-top: 57px;
	font-weight: 400;
	margin-left: 0px;
}

body {
    content: "";
    background: url('../res/ground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

footer {
    margin: 0 auto;
	text-align: center;
	padding: 3em 3em;
	background-color: white;
	opacity: 0.96;
}

/* ************************************** Bubble chart *************************** */


#bubble_chart {

	margin: 0 auto;
	padding-left: 12px;
	padding-right: 12px;
	margin-top: 150px;

	width: 1200px;
	height: 910px;
}

#circlePacking {
	display: inline-block;

	margin: 0 auto;

	width: 1200px;
	height: 550px;


}

#intro {
	background-color:#ffffff;
	float : left;
	width : 494px;
	margin-left: 82px;
	margin-right: 0px;

	border-radius: 10px;
	box-shadow: 5px 7px 10px #00000034;

	opacity : 1;

	text-align: justify;
	text-justify: inter-word;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;

	margin-top: 0px;
}

#graph_config {
	background-color:#ffffff;
	float : left;
	padding : 20px;
	margin-left: 30px;
	margin-top: 105px;
	border-top: 0px solid black;
	border-bottom: 0px solid black;
	border-left: 0px solid black;
	border-right: 0px solid black;
	border-radius: 10px;
	box-shadow: 5px 7px 10px #00000034;

	opacity : 1;
}

#circle_graph_svg {
	float : left;
	background-color:#ffffff;
	width: 600px;
	height : 500px ;
	border-radius : 10px;
	box-shadow: 5px 7px 10px #00000034;
	opacity : 0.96;
	margin-top: 0px;
}

div.circleTooltip {
	position: absolute;
	text-align: center;
	width: 160px;
	height: 70px;
	padding: 5px;
	font: 16px Arial, Helvetica, sans-serif;
	font-weight:bold;
	border-radius : 15px;
	box-shadow: 5px 7px 10px #00000034;
	pointer-events: none;
}

#down_arrow {
	background-image: url('../res/arrow_down.svg');
	width: 200px;
	height: 100px;
	background-repeat: no-repeat;
	background-size: cover;
	margin: auto;
	margin-top: 70px;
	margin-bottom: 70px;
}

#intro2 {
	background-color:#ffffff;
	float : lef5;
	width : 1176px;

	border-radius : 10px;
	box-shadow: 5px 7px 10px #00000034;
	opacity : 1;

	text-align: justify;
	text-justify: inter-word;
	padding-right: 20px;
	padding-left: 20px;

	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 0px;

	margin-top: 100px;
}

h6 {
	font-size: 18px;
}

#higher {
	font-size: 19px;
}

#larger {
	letter-spacing: 5px;
}

#color {
	color: #5F9B31;
}


/* ************************************** Visulaisation div ************************************** */

#visualization1 {
	width: 1200px;
	height: 900px;
	background-color: transparent;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 300px;
}




/* ************************************** Selection ************************************** */

#selection {
	display: inline-block;
	margin-top: 1%; 	
	margin-left: 1%; 
	margin-right: 1%; 
	margin-bottom: 40px; 
	width: 98%;
	height: 50%;
	background-color:#ffffff;
	border-top: 0px solid black;
	border-bottom: 0px solid black;
	border-left: 0px solid black;
	border-right: 0px solid black;
	border-radius: 10px;
	box-shadow: 5px 7px 10px #00000034;
	opacity : 1

}

/* ******************* Selection buttons ******************* */

#buttons {
	text-align: left;
	display: inline-block;
	width: 100%;
	height:10%;
	background-color: transparent;
}

#sport_selector, #event_selector, #search_form, #add_btn{
	margin-top: 10px;
	margin-left: 10px;
	width: 120px;
}

#sport_selector {
	width: 220px;
}

#event_selector {
	width: 300px;
}

#search_form {
	width: 300px;
	display: inline-block;
}

#div_err {
	display: inline-block;
	margin-top: 11.5px;
	opacity:0;
	float: right;
	height: 20px;
	width:530px;
}

#error_message {
	float: left;
	width: 20px;
	height: 20px;
}


#text_error{
	height: 20px;
	float:left;
	margin-left: 20px;
	text-align: left;
	opacity: 0;
	font-style: italic;
}

/* ******************* Athlete description ******************* */


#data_selection {
	float:left;
	display: inline-block;
	background-color: transparent;
	height: 90%;
	width: 25%;
}

#display {
	float:left;
	height: 100%;
	width: 100%;
	background-color:transparent;
}

.label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

/* ******************* Charts description ******************* */

#chart_selection {
	display: inline-block;
	float: right;
	width: 75%;
	height: 90%;
	background-color: transparent;
	items: center;

}

#chart1 , #chart2, #chart3{
	height: 25%;
}

#chart1 {
	margin-top: 3% ;
}

#chartx {
	margin-top: 0%;
	height: 10%;
}

.chart_label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

div.tooltip {
	position: absolute;
	text-align: center;
	width: 70px;
	height: 34px;
	padding: 2px;
	font: 12px sans-serif;
	font-weight:bold;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}


rect.selection {
	fill: #ADD8EB;
	opacity: 1;
}


/* ************************************** Small multiple ************************************** */

#small_multiple{
	margin-left: 1%;	
	width: 98%;
	height: 40%;
	background-color: transparent;
}

/* ******************* Buttons ******************* */

#filter {
	background-color: transparent;
	text-align: left;
	display: inline-block;
	width: 100%;
	height: 40px;
	margin-bottom: 8px;	
}


#sort_selector {
	width: 170px;
}

#remove_all {
	margin-left: 10px;
}

#asc {
	background-image: url('../res/ascending_2.svg');
}

#des {
	background-image: url('../res/descending.svg');
}

#asc, #des {
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: center; 
	width: 38px;
	padding: 0px;
}

#sort_selector, #asc, #des, #remove_all {
	box-shadow: 5px 7px 10px #00000034;
}

.selected {
	color: #ffffff !important;
	background: rgb(183, 237, 255);
	border-color: #636363 !important;
	transition: all 0.4s ease 0s;
}


/* ******************* Grid ******************* */

#grid {
	display: inline-block;
	width: 100%;
	height: 100%;
	border-top: 0px dashed black;
	border-bottom: 0px dashed black;
	opacity: 1;
}

.elements_SM {
	display: inline-block;
	float: left;
	width: 19.2%;
	margin-right: 1%;
	height: 100%;
	border-right: 0px dashed black;
	border-top: 0px dashed black;
	border-bottom: 0px dashed black;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 5px 7px 10px #00000034;
	opacity: 1;

}

#elem_4_div {
	margin-right: 0%;
}

#elem_0, #elem_1, #elem_2, #elem_3, #elem_4 {
	float:left;
	height: 100%;
	width: 100%;
	background-color:transparent;
}

#plus {
	opacity: 0.4;
}


#plus:hover {
	opacity: 0.8;
	transition: all 0.4s ease 0s;
}

.cross {
	stroke-width: 2.5px;
	opacity: 0.4;
}

.cross:hover {
	stroke-width: 2.5px;
	opacity: 0.8;
	pointer-events: bounding-box;
	transition: all 0.4s ease 0s;
}

.sm_sport {
	font-size: 18px;
	font-weight: bold;
}

.sm_event {
	font-size: 14px;
}

.sm_year {
	font-size: 12px;
	font-weight: bold;
}

.sm_textline {
	stroke-width: 1px;
	stroke: #9b9b9b;
}

.sm_feat {
	font-size: 12px;
}

.sm_is_selected {
	fill: rgb(0, 162, 255);
	fill-opacity: 0.15;
	border-radius: 10px;
	transition: all 0.4s ease 0s;
}

.sm_not_selected {
	fill-opacity: 0;
	border-radius: 10px;
	transition: all 0.4s ease 0s;
}


/* ************************************** Autocomplete ************************************** */

.autocomplete {
	/*the container must be positioned relative:*/
	position: relative;
	display: inline-block;
	width: 100%;
	margin-top: 0px;
}
input {
	border: 1px solid black;
	background-color: #ffffff;
	padding: 4px;
}
input[type=text] {
	background-color: #ffffff;
	width: 100%;
}

.autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: 0;
	right: 0;
	text-align: left;
	width: 100%;
}
.autocomplete-items div {
	padding: 4px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
	/*when hovering an item:*/
	background-color: #e9e9e9;
}
.autocomplete-active {
	/*when navigating through the items using the arrow keys:*/
	background-color: #e9e9e9 !important;
	color: #000000;
}







